.products-parent {
  padding: 6em 13em;
}
.products-parent .products-container {
  margin: 0 auto;
  background-color: #f5f5f5;
  float: left;
}

.products-card-container {
  background: white;
  padding: 15px;
  border: solid 1px #e4e3e3;
  position: relative;
  margin: 0px auto 30px;
  max-width: 360px;
  width: 100%;
  margin: 10px 10px 10px 10px;
  display: inline-block;
}

.products-card {
  border: 1px solid transparent;
}

.products-card-title-click {
  text-transform: uppercase;
  color: #363f48;
  border-left: 4px solid #f34b0a;
  font-size: 17px;
  padding: 3px 0px 3px 10px;
  padding-left: 10px;
}
.products-card-t.products-card-title-click {
  text-decoration: none;
  color: #f34b0a;
}

.products-card-img-top {
  width: 100%;
}

.products-card-title-price {
  float: right;
  background: #f5f5f5;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  color: #f34b0a;
}

.clear-float {
  clear: both;
}

.products-btn {
  border: 1px solid transparent;
  border-radius: 3px;
  text-decoration: none;
  background-color: #e7551b;
  color: white;
  font-size: 11px;
  font-weight: 700;
  padding: 7px 13px;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 5px;
  cursor: pointer;
}
.products-btn:hover {
  background-color: #c53d07;
}
