.nav-container {
  width: 100%;
  background: #363f48;
  position: fixed;
  z-index: 1;
  text-align: center;
  padding: 0px;
}

.nav-item {
  display: inline-block;
  width: 12%;
  padding: 20px 10px;
  border: 0.2px solid rgb(112, 112, 112);
  border-top: 0.2px solid transparent;
  border-bottom: 0.2px solid transparent;
  margin: 0;
  background: #363f48;
  text-align: center;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
}

.nav-item:hover {
  background: #15191d;
}
.nav-item:active {
  background: #5f7081;
}

.nav-item-first {
  display: inline-block;
  width: 13%;
  padding: 20px 10px;
  margin: 0;
  /* background: #404a53; */
  text-align: center;
  color: white;
  font-size: 16px;
  text-decoration: none;
  cursor: default;
  text-transform: capitalize;
}

.welcome {
  color: rgb(37, 188, 226);
  font-size: 18px;

  /* font-weight: 700; */
}
.user {
  color: #f34b0a;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.cursor {
  cursor: pointer;
}
